body {
  font-family: "Roboto", sans-serif;
}
.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  background-color: #fafafa;
}
.barraSuperior {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #dbdbdb;
  background: #fff;
  position: fixed;
  left: 0;
  top: 0;
  height: 54px;
  width: 100%;
  z-index: 1;
}
.barraSuperior img {
  max-width: 120px;
  padding: 12px;
}
.icones {
  display: flex;
  justify-content: space-around;
  width: 180px;
}
.icones ion-icon {
  font-size: 25px;
}

.conteudoEsquerdo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.storys {
  display: flex;
  width: 614px;
  overflow: hidden;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  margin-top: 92px;
  margin-bottom: 24px;
}
.storyCards {
  padding: 9px;
}
.storyCards img {
  max-width: 56px;
}
.storyCards h3 {
  font-size: 12px;
  text-align: center;
}
.post {
  width: 614px;
  border: 1px solid #dbdbdb;
  margin-bottom: 60px;
  background-color: #fff;
}
.post img {
  max-width: 100%;
}

.postTopo {
  display: flex;
  align-items: center;
  padding: 12px;
}
.postTopo h3 {
  font-weight: 500;
  margin-left: 14px;
}

.postTopo img {
  max-width: 32px;
  border-radius: 50%;
}

.postBotoes {
  display: flex;
  font-size: 22px;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px;
  z-index: 2;
}

.slideBar {
  max-width: 350px;
  padding: 30px;
}

.perfil {
  display: flex;
  align-items: center;
  width: 178px;
  height: 76px;
  padding: 10px;
}
.textoPerfil {
  margin-left: 10px;
}
.textoPerfil h2 {
  font-weight: 500;
  font-size: 14px;
}
.textoPerfil p {
  font-weight: 300;
  font-size: 14px;
}
.perfilImg {
  max-width: 56px;
  border-radius: 50%;
}
.sugestoes {
  margin-top: 24px;
}
.sugestoes h2 {
  font-weight: 500;
  font-size: 12px;
  color: #8e8e8e;
  margin-left: 10px;
}
.perfilsugeridos h3 {
  width: 100%;
}
.perfilsugeridos p {
  color: #139ef2;
  font-weight: 400;
}

.rodape {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  padding: 15px;
}
.textorodape {
  font-size: 11px;
  font-weight: 400;
  color: #c7c7c7;
}
.slideBar h4 {
  padding: 14px;
}
.barraInferior {
  display: none;
}
@media (max-width: 935px) {
  .slideBar {
    display: none;
  }
  .barraSuperior {
    justify-content: space-between;
    padding: 20px;
    align-items: center;
  }
}
@media (max-width: 614px) {
  .container {
    overflow: hidden;
  }
  .icones {
    display: none;
  }
  .storys {
    background-color: #fafafa;
    margin-top: 54px;
    margin-bottom: 0;
  }
  .post {
    width: 100%;
  }
  .barraInferior {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 612px;
    height: 54px;
    background-color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
  }
  .barraInferior ion-icon {
    font-size: 22px;
  }
  .post {
    width: 100%;
  }
}
